h3{
    text-align: center;
    color:purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 10px;
    padding: 10px;
    background: linear-gradient(skyblue);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
}
    
#home{
    display: block;
}

#about{
    display: none;
}

#research{
    display: none;
}

#trading{
    display: none;
}

footer{
    text-align: center;
}

.item{
    margin: 10;
    padding: 5px;
    border-radius:7px;
    border-color: bisque;
    background-color: lightgreen;
    color: blue;
    text-align:center;
    font-size:15px;
}

#container{
    display: flex;
    flex-direction:row;
    overflow-x: hidden;
    justify-content: space-between;
    padding:2px;
    gap:10px;
    margin:auto;
}
.soon{
    height: 150px;
    width: 120px;
    font-weight: bold;
    color: black;
    border: 5px solid rgb(86, 84, 192);
    border-radius: 4px;
    background-color: rgb(76, 93, 170);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 10;
    animation: 8s soon linear infinite;
}
@keyframes soon{
    0%{
    }
    75%{
        scale: 2;
    }
}

/* button-to-email */
.mail_btn{
    background-color: lightgreen;
    border-color: bisque;
}
