/* Heading Style */
h1{
    color:purple;
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Body-Styling */
body{
    background: linear-gradient(to right, lightgreen);
    margin: 10px;
    padding: 10px;
    color: darkblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* The Containter Class */
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;
}

/* The Items Class */
.item{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background-color: aqua;
    outline: solid 2px;
    margin: 2px;
    padding: 2px;
    width: 100px;
    height: 30px;
}

/* Link-Properties */
a{
    color:blue;
    text-decoration: none;
}
a:hover{
    color:purple;
}

/* Button-On-About */
.myButton{
    color:black;
    background-color: aquamarine;
}
