/* Heading Style */
h1{
    color:purple;
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Body-Styling */
body{
    background: linear-gradient(to left, skyblue);
    margin: 10px;
    padding: 10px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* The Containter Class */
.container{
    display: flex;
    flex-direction:row;
    overflow-x: hidden;
    justify-content: center;
    border-radius:4px;
    padding:2px;
    gap:70px;
    margin:auto;
}

/* The Items Class */
.item{
    margin: 10;
    padding: 5px;
    outline:1px solid;
    border-radius:4px;
    background-color:rgb(209, 202, 216);
    color:bisque;
    text-align:center;
    font-size:15px;
}

/* Link-Properties */
a{
    color:blue;
    text-decoration: none;
}
a:hover{
    color:purple;
}

/* Button-On-About */
.myButton{
    color:black;
    background-color: aquamarine;
}
