h3{
    text-align: center;
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

body{
    background: linear-gradient(skyblue);
}

#home{
    display: block;
}

#about{
    display: none;
}

#research{
    display: none;
}

#trading{
    display: none;
}

footer{
    text-align: center;
}

.item{
    margin: 10;
    padding: 5px;
    outline:1px solid;
    border-radius:7px;
    border-color: bisque;
    background-color: lightgreen;
    color: blue;
    text-align:center;
    font-size:15px;
}

.container{
    display: flex;
    flex-direction:row;
    overflow-x: hidden;
    justify-content: space-between;
    border-radius:4px;
    padding:2px;
    gap:10px;
    margin:auto;
}

/* button-to-email */
.prompt_btn{
    background-color: lightgreen;
    border-color: bisque;
/*
 .prompt_btn{
    background-color: lightgreen;
    border-color: bisque;
}
*/